# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Binaries
*.class
*.jar
*.war
*.ear

# Scala specific
*.log

# SBT specific
dist/
target/

# Project files
*.iml


tutes

.idea/
.vscode/
.bsp/
.metals/
.metals-scala-cli/
.scala-build/
